.hero-spacer {
    margin-top: 30px;
}

.hero-feature {
    margin-bottom: 10px;
}

.members {
    max-width: 250px;
    height: auto;
    border-radius: 200px;
    box-shadow: 0 3px 6px rgba(1, 1, 1, 1);
    display: block;
    margin-left: auto;
    margin-right: auto
 
}
.members:hover {
    -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -ms-transform: scale(1.1);
   -o-transform: scale(1.1);
   transform: scale(1.1);
   box-shadow: 2px 0px 0px 2px rgba(51, 51, 51, 0.57);
}
.text-center {
  text-align: center;
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../comment.gif') 50% 50% no-repeat rgb(249,249,249);
}
.social1 {
  padding-right: 10px;
}
.thumbnail {
  border: 0 !important;
}
.thumbnail>img {
    margin-right: auto;
    margin-left: auto;
    max-width: 70%;
}
.team-title {
	font: normal 75px 'Cookie', cursive;
	font-weight: bold;
	font-size: 65px;
}
@media (min-width: 768px) {
.col-sm-offset-1 {
    margin-left: 4.33333333%;
}
}