.navbar {
  border-radius: 0px;
}
.navbar-inverse {
    background-color: #292c2f;
    border-color: rgba(238, 238, 238, 0.1);
}
.nav {
    width: 100%
}
.first {
    margin-left: 10%;
}
.nav>li {
    width: 18%;
}
.nav>li>a {
   font-size: 16px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: inherit;
}
.shadow {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.34),0 4px 10px 0 rgba(0, 0, 0, 0.22)!important;
}
.card {
    font: normal 75px 'Cookie';
    padding: 10px;
    letter-spacing: 2px;
    word-spacing: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    background: rgba(128, 128, 128, 0);
    color: #000;
    margin-top: 20px;
    overflow: hidden;
}
.card:hover{
  transition: box-shadow .25s !important;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

@media (max-width: 700px) {
	.first {
		margin-left: 0;
	}
  .card {
    margin-left: 15px;
    margin-right: 10px;
  }
}