body {
  font-family: monospace;
  font-size: 18px;
  background: #111;
  color: #666;
  margin: 0;
    display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

img {
  display: block;
  width: 100%;
}

input[type=checkbox] {
  display: none;
}

label {
  display: inline-block;
  margin-right: 1em;
  padding: 0.4em 0;
  cursor: pointer;
}

button {
  border: 10px solid #00FFAA;
  font-family: monospace;
  position: absolute;
  line-height: 60px;
  text-align: right;
  padding: 0 1.2em;
  background: #444;
  font-size: 24px;
  cursor: pointer;
  display: block;
  outline: none;
  height: 80px;
  width: 80%;
  top: 260px;
  margin: 0;
  left: 10%;
}

button:hover {
  background: #00FFAA;
}

input[type=checkbox] + label:before {
  display: inline-block;
  position: relative;
  background: #444;
  margin-right: 8px;
  content: "";
  height: 16px;
  width: 16px;
  top: 1px;
}

input[type=checkbox]:checked + label:before {
  background: #00FFAA;
}

#hero{
    text-align: center;
    overflow: hidden;
    display: block;
    width: 100%;
    background: white;
  }
  .bg {
    position: relative;
    width: 100% !important;
    height: 100vh;
}
.bg video {
    min-width: 110%;
    min-height: 110vh;
    margin-top: -3%;
    margin-left: -5%;
}

.hero-content {
    display: block;
    margin: 0 auto;
    max-width: 60%;
    margin-top: calc(50vh - 80px);
    opacity: 1;
    top:0%;

}
.sub-title {
    color: white;
    font-size: 21px;
}

.container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  padding: 5%;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../comment.gif') 50% 50% no-repeat rgb(249,249,249);
}
@media (min-width: 700px)  {
#action {
    bottom: 60px;
}
}
@media (min-width: 400px) {
#action {
    bottom: 20px;
  }
}
#action {
    min-width:100%;
    height: 100%;
    margin-left: -30px;
    height: 580px;
    background: url(../img/down.png) no-repeat center bottom;
    background-size: 110px 80px;
    display: block;
    position: absolute;
    bottom: 120px;
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transitn: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation: bounce 1.5s infinite;
    -moz-animation: bounce 1.5s infinite;
    -ms-animation: bounce 1.5s infinite;
    -o-animation: bounce 1.5s infinite;
    animation: bounce 1.5s infinite;
}


@keyframes bounce {
0%, 20%, 60%, 100% {
    transform: translateY(0);
}
40% {
    transform: translateY(-20px);
}
80% {
    transform: translateY(-10px);
}
}
.scene {
  padding: 0;
  margin: 0;
}

@keyframes bobble {
    0% {
        transform: translate3d(800px, 100px, 0px);
        animation-timing-function: ease-in;
    }
    50% {
        transform: translate3d(800px, 150px, 0px);
        animation-timing-function: ease-out;8
    }
    100% {
        transform: translate3d(800px, 100px, 0px);
    }
}
.expand-width {
  width: 100%;
}

.border {
  border: 2px dashed #00FFAA;
}

.aspect {
  opacity: 0.9;
}
.sphere {
  border-radius: 50% !important;
  max-width: 20%;
}
.layer:nth-child(1) {
  opacity: 0.4;
}
.layer:nth-child(1) div img {
  -webkit-transform: rotate(150deg);
}

.layer:nth-child(2) {
  opacity: 0.50;
  
}
.layer:nth-child(2) div img {
  transform: translate(800px, 100px);

  width: 13%;
  /*left: 600px;
  position: absolute;
  top: 300px;
  -webkit-animation: myOrbit 7s linear infinite; /* Chrome, Safari 5 */
       /*-moz-animation: myOrbit 7s linear infinite; /* Firefox 5-15 
         -o-animation: myOrbit 7s linear infinite; /* Opera 12+ 
            animation: myOrbit 7s linear infinite;  Chrome, Firefox 16+, 
                                                      IE 10+, Safari 5 */
  


}
@-webkit-keyframes myOrbit {
    from { -webkit-transform: rotate(0deg) translateX(350px) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(350px) rotate(-360deg); }
}

@-moz-keyframes myOrbit {
    from { -moz-transform: rotate(0deg) translateX(350px) rotate(0deg); }
    to   { -moz-transform: rotate(360deg) translateX(350px) rotate(-360deg); }
}

@-o-keyframes myOrbit {
    from { -o-transform: rotate(0deg) translateX(350px) rotate(0deg); }
    to   { -o-transform: rotate(360deg) translateX(350px) rotate(-360deg); }
}

@keyframes myOrbit {
    from { transform: rotate(0deg) translateX(350px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(350px) rotate(-360deg); }
}
.layer:nth-child(3) {
  opacity: 0.5;
}
.layer:nth-child(3) div img {
  transform: translate(950px, 500px);
  width:11%;

}

.layer:nth-child(4) {
  opacity: 0.4;
  width: 85%;
}
.layer:nth-child(4) div img {
  transform: translate(250px, 350px);
  width:11%;
}
@-webkit-keyframes myOrbita {
    from { -webkit-transform: rotate(360deg) translateX(400px) rotate(-360deg); }
    to   { -webkit-transform: rotate(0deg) translateX(400px) rotate(0deg); }
}

@-moz-keyframes myOrbita {
    from { -webkit-transform: rotate(360deg) translateX(400px) rotate(-360deg); }
    to   { -webkit-transform: rotate(0deg) translateX(400px) rotate(0deg); }
}

@-o-keyframes myOrbita {
    from { -webkit-transform: rotate(360deg) translateX(400px) rotate(-360deg); }
    to   { -webkit-transform: rotate(0deg) translateX(400px) rotate(0deg); }
}

@keyframes myOrbita {
    from { -webkit-transform: rotate(360deg) translateX(400px) rotate(-360deg); }
    to   { -webkit-transform: rotate(0deg) translateX(400px) rotate(0deg); }
}
.layer:nth-child(5) {
  opacity: 1;
}
.layer:nth-child(5) div img {
  transform: translate(100px, 200px);
  width:7%;
  
}

.layer:nth-child(6) {
  opacity: 1;
}
.layer:nth-child(6) button {
}
