body {
  font-family: monospace;
  font-size: 18px;
  /*background: #111;*/
  color: #666;
}
footer {
  bottom: 0;
}
img {
  display: block;
  width: 100%;
}

input[type=checkbox] {
  display: none;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: inherit;
}
.shadow {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.34),0 4px 10px 0 rgba(0, 0, 0, 0.22)!important;
}
.navbar {
  border-radius: 0px;
}
.footer-links li {
    display: inline;
}
.navbar-inverse {
    background-color: #292c2f;
    border-color: rgba(238, 238, 238, 0.1);
}
input[type=checkbox] + label:before {
  display: inline-block;
  position: relative;
  background: #444;
  margin-right: 8px;
  content: "";
  height: 16px;
  width: 16px;
  top: 1px;
}

input[type=checkbox]:checked + label:before {
  background: #00FFAA;
}
.center {
  text-align: center;
}
.intro-content {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.34),0 4px 10px 0 rgba(0, 0, 0, 0.22)!important;
}
.intro-content :hover {

}
.shadow-arch-edges {
  position: relative;
  box-shadow: 0px 18px 11px -12px rgba(90, 88, 88, 0.83);
}

.shadow-arch-edges:before, .shadow-arch-edges:after {
  position: absolute;
  content: "";
  width: 15%;
  bottom: 10px;
  box-shadow: 0 0 12px 10px hsla(0, 0%, 0%, .5);
  z-index: -10;
}

.shadow-arch-edges:before {
  left: 24px;
  transform: skewY(-12.5deg);
}

.shadow-arch-edges:after{
  right: 24px;
  transform: skewY(12.5deg);
}
.center a {
  font-size: 22px;
  padding-left: 15px;
  padding-right: 15px;
}
.nav {
    width: 100%
}
.first {
    margin-left: 10%;
}
.nav>li {
    width: 18%;
}
#hero{
    text-align: center;
    overflow: hidden;
    display: block;
    width: 100%;
    background: white;
    /*animation: theme 10s linear infinite;*/
  }
  .bg {
    position: relative;
    width: 100% !important;
    height: 100vh;
}
.bg video {
    min-width: 120%;
    min-height: 110vh;
    margin-top: -3%;
    margin-left: -10%;
}

.hero-content {
    display: block;
    margin: 0 auto;
    max-width: 60%;
    margin-top: calc(50vh - 80px);
    opacity: 1;
    top:0%;

}
.sub-title {
    color: white;
    font-size: 21px;
}

.container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  padding: 5%;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../comment.gif') 50% 50% no-repeat rgb(249,249,249);
}
@media (min-width: 700px)  {
#action {
    bottom: 60px;
    
}
}
@media (min-width: 400px) {
#action {
    bottom: 20px;
  }
}
@media (max-width: 700px) {
  #hero {
    background: white;
  }
  .layer:nth-child(1) {
  opacity: 0.3 !important;
}
  .layer:nth-child(5) {
  opacity: 1 !important;

}
.first {
  margin-left: 0;
}
.l5 {
  top:215px !important;
  height: 35%;
}
  #action {
    background-size: 80px 60px !important;
    left: 5%;
  }
  .layer:nth-child(6) div img {
    display: block;
    max-width: 93%;
    max-height: 80%;
    left:4%;
    position: absolute;
}
.first {
    margin-left: 0px;
}
.card {
  margin-left: 5px;
}
.intro-content {
  margin-left: 5px;
}
}
.topbar {
    margin: 0 !important;
    border-radius: 0% !important;
}
#action {
    min-width:100%;
    height: 100%;
    margin-left: -30px;
    height: 580px;
    font-weight:bold; 
    background: url(../img/down.png) no-repeat center bottom;
    background-size: 110px 80px;
    display: block;
    position: absolute;
    bottom: 120px;
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transitn: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation: bounce 1.5s infinite;
    -moz-animation: bounce 1.5s infinite;
    -ms-animation: bounce 1.5s infinite;
    -o-animation: bounce 1.5s infinite;
    animation: bounce 1.5s infinite;
}


@keyframes bounce {
0%, 20%, 60%, 100% {
    transform: translateY(0);
}
40% {
    transform: translateY(-20px);
}
80% {
    transform: translateY(-10px);
}
}
.scene {
  padding: 0;
  margin: 0;
}
.thumbnail {
  border: 0;
}
.thumbnail>img {
    margin-right: auto;
    margin-left: auto;
    max-width: 35%;
}
@media (min-width: 992px){
.col-md-offset-1 {
    margin-left: 4.333333%;
}
}
@media (min-width: 768px) {
.col-sm-offset-1 {
    margin-left: 4.33333333%;
}
}
@keyframes bobble {
    0% {
        transform: translate3d(800px, 100px, 0px);
        animation-timing-function: ease-in;
    }
    50% {
        transform: translate3d(800px, 150px, 0px);
        animation-timing-function: ease-out;8
    }
    100% {
        transform: translate3d(800px, 100px, 0px);
    }
}
.card {
    padding: 10px;
    box-shadow: 2px 2px 2px 2px rgba(136, 136, 136, 0.43);
    background: rgba(128, 128, 128, 0);
    color: #000;
    margin-top: 20px;
    overflow: hidden;
}
.card:hover{
  -webkit-transform: scale(1.02);
   -moz-transform: scale(1.02);
   -ms-transform: scale(1.02);
   -o-transform: scale(1.02);
   transform: scale(1.02);
   box-shadow: 2px 2px 2px 3px gray;
}

.expand-width {
  width: 100%;
}

.border {
  border: 2px dashed #00FFAA;
}

.aspect {
  opacity: 0.9;
}
.sphere {
  border-radius: 50% !important;
  max-width: 20%;
}
.layer:nth-child(1) {
  opacity: 0.25;
}
.layer:nth-child(1) div img {
  -webkit-transform: rotate(150deg);
}

.layer:nth-child(2) {
  opacity: 0.6;
  
}
.layer:nth-child(2) div img {
  transform: translate(800px, 100px);

  width: 13%;
  /*left: 600px;
  position: absolute;
  top: 300px;
  -webkit-animation: myOrbit 7s linear infinite; /* Chrome, Safari 5 */
       /*-moz-animation: myOrbit 7s linear infinite; /* Firefox 5-15 
         -o-animation: myOrbit 7s linear infinite; /* Opera 12+ 
            animation: myOrbit 7s linear infinite;  Chrome, Firefox 16+, 
                                                      IE 10+, Safari 5 */
  


}
@-webkit-keyframes myOrbit {
    from { -webkit-transform: rotate(0deg) translateX(350px) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(350px) rotate(-360deg); }
}

@-moz-keyframes myOrbit {
    from { -moz-transform: rotate(0deg) translateX(350px) rotate(0deg); }
    to   { -moz-transform: rotate(360deg) translateX(350px) rotate(-360deg); }
}

@-o-keyframes myOrbit {
    from { -o-transform: rotate(0deg) translateX(350px) rotate(0deg); }
    to   { -o-transform: rotate(360deg) translateX(350px) rotate(-360deg); }
}

@keyframes myOrbit {
    from { transform: rotate(0deg) translateX(350px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(350px) rotate(-360deg); }
}
.layer:nth-child(3) {
  opacity: 0.3;
}
.layer:nth-child(3) div img {
  transform: translate(950px, 500px);
  width:11%;

}

.layer:nth-child(4) {
  opacity: 0.6;
  width: 85%;
}
.layer:nth-child(4) div img {
  transform: translate(250px, 350px);
  width:11%;
}
@-webkit-keyframes myOrbita {
    from { -webkit-transform: rotate(360deg) translateX(400px) rotate(-360deg); }
    to   { -webkit-transform: rotate(0deg) translateX(400px) rotate(0deg); }
}

@-moz-keyframes myOrbita {
    from { -webkit-transform: rotate(360deg) translateX(400px) rotate(-360deg); }
    to   { -webkit-transform: rotate(0deg) translateX(400px) rotate(0deg); }
}

@-o-keyframes myOrbita {
    from { -webkit-transform: rotate(360deg) translateX(400px) rotate(-360deg); }
    to   { -webkit-transform: rotate(0deg) translateX(400px) rotate(0deg); }
}

@keyframes myOrbita {
    from { -webkit-transform: rotate(360deg) translateX(400px) rotate(-360deg); }
    to   { -webkit-transform: rotate(0deg) translateX(400px) rotate(0deg); }
}
.layer:nth-child(5) {
  opacity: 0.7;
}
.layer:nth-child(5) div img {
  transform: translate(100px, 200px);
  width:7%;
}

.layer:nth-child(6) {
  opacity: 1;
}
.layer:nth-child(6) button {
}

.center {
  text-align: center;
}
.padded {
  padding-top: 40px;
  padding-bottom: 40px;
}
#intro {
    background-color: white !important;
    position: absolute;
}
@keyframes theme {
    0% {
        background: #ffffff;
    }
    50% {
      background: #333;
    }
    100% {
        background: #ffffff;
    }
}

